body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #4b5863;
    line-height: 36px;
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    width: 2000px;
    height: 7243px;
}

.container {
    width: 1500px;
    margin: 0 auto;
}


h2 {
    font-size: 48px;
    color: black;
    text-align: center;
    margin: 0;
}

.main-navigation {
    padding-top: 57px;
    padding-bottom: 262px;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 1470px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-navigation a {
    text-decoration: none;
}

.correction1 {
    margin: 0;
    padding: 21px 578px 21px 15px;
}

.correction2 {
    margin: 0;
    padding: 21px 15px 21px 578px;
}

.promo {
    text-align: center;
}


.promo p {
    font-size: 18px;
    line-height: 18px;
    padding-top: 26px;
    padding-bottom: 106px;
}

.promo a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #43a9ff;
}

.features-text p {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 24px;
    margin: 0;
    text-align: center;
}

.features-text {
    padding-top: 946px;
}

.features-text p {
    padding-bottom: 24px;
}

.features-text h2 {
    padding-bottom:  100px;
}

.main-footer {
    padding-top: 135px;
}